body{
    background-color: #1e1e1e !important;
}

.article-card{
    background-color: #1a1a1a;
    border-radius: 17px;
    border: 1px solid #066163;
    box-shadow: rgba(6, 97, 99, 0.40) 0px 3px 12px 0px;
}
.article-img{
    max-width: 100%;
    max-height: 180px;
    border-radius: 17px 17px 0px 0px;
}
.card-text-second {
    font-size: 12px !important;
}
.card-text-body {
    font-size: 13px !important;
}
.search-form:focus{
    box-shadow: rgba(208,168,92,0.5) 0px 0px 25px;
}