{% extends 'base.html' %}
{% load ratings %}
{% load static %}


{% block custom_link %}
    <link rel="stylesheet" href="{% static 'blog/main.css' %}"/>



{% endblock %}

{% block main %}

    <header>
        <div class="fasele120"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 d-flex justify-content-center">
                    <img src="{{ object.thumbnail.url }}" class="img-fluid rounded-3" alt="article-image-masthead">
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="d-flex flex-column align-items-center text-gold">
                        <h1 class="text-center text-gold">{{ object.title }}</h1>
                        {% if object.is_special == True %}
                            <span class="badge bg-danger tagvip rounded-pill">ویژه</span>
                        {% endif %}

                        <time class="">{{ object.jpublish }}</time>

                        <div> بازدید ها : {{ object.hits.count }}</div>
                        {% ratings object %}
                        <div class="bookmark">
                        {% if request.user.is_authenticated == True %}
                            {% if is_liked %}
                                <a id="like-post" class="wishlist-btn" href="{% url 'blog:like' object.slug object.id %}"><i class="bi bi-heart" style="color: #D0A85C;"></i></a>                                   
                            {% else %}
                                <a id="like-post" class="wishlist-btn" href="{% url 'blog:like' object.slug object.id %}"><i class="bi bi-heart" style="color: #ff0000;"></i></a></a>
                            {% endif %}
                        {% else %}
                            <p class="alert alert-danger">برای لایک کردن پست اول در <a href="{% url 'account:otp' %}">سایت ثبت نام</a> کنید</p>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content-->
    <div class="container mt-5">
        <div class="container d-flex justify-content-center">
            <img src="{% static 'img/divider.png' %}" class="img-fluid mb-4" alt="">
        </div>
        {#    <div class="slider-dvider sticky-top"></div>#}
        <div class="row">

            <div class="col-12 col-md-3 d-none d-md-flex flex-column align-items-center bg-light rounded-3 border-1 shadow-lg h-25 make-me-sticky">
                <img src="{{ object.thumbnail.url }}" class="img-thumbnail my-3 rounded-3" alt="tumbnail-article-image">
                <div class="slider-content d-flex flex-column align-items-center">
                    <p class="h5 text-blg text-center">
                        {{ object.title }}
                        {% if object.is_special == True %}
                            <span class="badge bg-danger tagvip rounded-pill">ویژه</span>
                        {% endif %}
                    </p>
                    <p class="h6 text-dark">{{ object.jpublish }}</p>
                    {#                    <div>{% ratings object %}</div>#}
                    <div> بازدید ها : {{ object.hits.count }}</div>
                </div>
                <div class="mb-3">
                    {% for cat in object.category.active %}
                        <a class="text-info card-text-second" href="{% url 'blog:category' cat.slug %}">
                            #{{ cat.title }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="mb-4 ms-md-5 bg-light rounded-3 shadow-lg">
                    <div class="text-justify textbox-detail p-5 text-article-detail">
                        <p class="text-article-detail">
                            {% if object.is_special %}
                                {% if user.is_authenticated and user.is_special_user or user == object.author or user.is_superuser %}
                                    {{ object.description|safe }}
                                {% else %}
                                    {{ object.description|striptags|truncatewords:20 }}
                                    <p class="alert alert-success text-center">این مقاله ویژه است و برای مشاهده آن
                                        نیاز به <a class="alert-link" href="#">اشتراک ویژه</a> دارید</p>
                                {% endif %}
                            {% else %}
                                {{ object.description|safe }}
                            {% endif %}
                        </p>
                        {#                        {% render_comments object request %}#}
                        {#                        {% include_bootstrap %}#}
                    </div>

                </div>
            </div>
        </div>
        <br><br>
        <div class="container d-flex justify-content-center">
            <img src="{% static 'img/divider.png' %}" class="img-fluid mb-4" alt="">
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <div class='article-comment'>
                    <p class="comment-name h3">نظرات({{ object.comments.count }}) : </p>
                    <div class="user-comment" id="location-redirect">
                        {% for comment in object.comments.all %}
                            {% if comment.parent == None %}
                                <p class="user-comment">{{ comment.users }}</p>
                                <p class="user-comment">{{ comment.message }}</p>
                                <p class="user-comment">{{ comment.created }}</p>
                                <button class="btn btn-dark" onclick="set_value({{ comment.id }})">پاسخ به نظر</button>
                                <hr>
                            {% endif %}
                            {% for reply in comment.replies.all %}
                                <div class="reply">
                                    <p class="user-comment">{{ reply.users }}</p>
                                    <p class="user-comment">{{ reply.message }}</p>
                                    <p class="user-comment">{{ reply.created }}</p>
                                    <hr>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}

                        <textarea class="form-control" class="form-control" name="message" rows="4" id="comments-input"
                                  placeholder="پیام مورد نظر" required="required"
                                  data-validation-required-message="Please enter your message"></textarea>
                        <br>
                        <div class="row">
                            <div class="col-md-6 pb-3">
                                <input type="text" name='name' class="form-control" id="comments-input-name"
                                       placeholder="نام"
                                       value=""
                                       required="required" data-validation-required-message="Please enter your message">

                                <input type="hidden" name='parent_id' class="form-control" id="parent_id"
                                       placeholder="parent_id"
                                       value="">
                            </div>
                            <div class="col-md-6 pb-3">
                                <input type="email" name='email' class="form-control" id="comments-input-name"
                                       placeholder="ایمیل"
                                       value=""
                                       required="required" data-validation-required-message="Please enter your message">

                            </div>
                        </div>
                        <button type="submit" class="btn btn-gold" id="send-button">ارسال</button>
                    </form>

                </div>
            </div>
        </div>
        <div class="fasele60"></div>
        <p class="comment-name h3">مقالات مرتبط</p>
        <div class="row">
            {% for item in suggested_videos.all %}
                {% if item.category.first == object.category.first %}
                    {% if item.id != object.id %}
                        <div class="col-md-4 mt-4 pt-2 d-flex justify-content-center">
                            <a href="{% url 'blog:detail' item.slug %}">
                                <div class="card bg-dark" style="width: 18rem;">
                                    <img src="{{item.thumbnail.url}}" class="card-img-top" alt="{{ article.title }}">
                                    <div class="card-body text-asli">
                                        <p class="text-asli mt-2 mb-2">{{ item.description|striptags|truncatewords:12 }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <script>
            function set_value(id) {
                document.getElementById('parent_id').value = id;
                document.getElementById('comments-input').placeholder = 'پاسخ مورد نظر خود را بنویسید';
                window.location.href = '#location-redirect'
            }
        </script>
        <script>
            function likes(slug , id){
            var element = document.getElementById("like-post")
            $.get(`/like/${slug}/${id}`).then(response =>{
                if(response['response'] === "liked"){
                    element.className = "bi bi-heart"
                }
                else{
                    element.className = "bi bi-gear fs-5"
                }
            })
            }
        </script>
{% endblock %}