{% extends 'mysite/../../templates/base.html' %}
{% load static %}
{% load base-tags %}
{% block custom_link %}
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet"/>
    <link href="{% static 'css/style-dark.css' %}" rel="stylesheet">

{% endblock %}
{% block main %}
<div class="fasele60 d-block d-md-none"></div>
<div class="container-fuid">
    <header>
        <div class="headback">

            <div class="fasele180"></div>
            <div class="container">
                <div class="row">
                    <div class="d-none d-md-flex flex-column col-md-4">
                        <div>
                            <p class="h1 text-gold"><img src="{% static 'img/logopars2.png' %}" width="60"
                                                         class="img-fluid" alt=""> <span>آی تی پارسیان</span></p>
                        </div>
                        <div class="mt-2">
                            <p class="text-asli h5 text-start">مجموعه متخصص،متعهد با سال ها تجربه در زمینه طراحی سایت،
                                اپلیکیشن موبایل و دیجیتال مارکتینگ</p>
                        </div>
                    </div>
                    <div class="d-none d-md-flex flex-column col-md-8"></div>

                </div>
            </div>
            <div class="fasele60"></div>

        </div>

    </header>

    <div class="fasele"></div>
    <div class="container mt-100 mt-60">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <img alt="" class="img-fluid rounded shadow" src="{% static 'img/about02.jpg' %}"/>
                    </div><!--end col-->

                    <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="section-title ms-lg-5">
                            <h4 class="title fw-semibold text-gold mb-3">چرا آی تی پارسیان ؟</h4>
                            <p class="text-asli para-desc mb-0">مزیت اصل لاتین آن و بی معنی بودن نسبی لورم ایپسوم این است که متن توجه را به خود جلب نمی کند یا توجه بیننده را از صفحه آرایی منحرف نمی کند.</p>

                            <div class="row mt-4">
                                <div class="col-lg-6 col-12">
                                    <ul class="mb-0 list-unstyled">
                                        <li class="mb-0 text-asli"><span class="text-gold h4 me-2"><i class="uil uil-check-circle align-middle"></i></span> کاملا ریسپانسیو</li>
                                        <li class="mb-0 text-asli"><span class="text-gold h4 me-2"><i class="uil uil-check-circle align-middle"></i></span> امور مالی و بازسازی </li>
                                        <li class="mb-0 text-asli"><span class="text-gold h4 me-2"><i class="uil uil-check-circle align-middle"></i></span> حسابرسی و اطمینان </li>
                                        <li class="mb-0 text-asli"><span class="text-gold h4 me-2"><i class="uil uil-check-circle align-middle"></i></span> معاملات و بازار سهام </li>
                                    </ul>
                                </div><!--end col-->

                                <div class="col-lg-6 col-12">
                                    <ul class="mb-0 list-unstyled">
                                        <li class="mb-0 text-asli"><span class="text-gold h4 me-2"><i class="uil uil-check-circle align-middle"></i></span> استراتژی و برنامه ریزی </li>
                                        <li class="mb-0 text-asli"><span class="text-gold h4 me-2"><i class="uil uil-check-circle align-middle"></i></span> نرم افزار و تحقیق </li>
                                        <li class="mb-0 text-asli"><span class="text-gold h4 me-2"><i class="uil uil-check-circle align-middle"></i></span> پشتیبانی و نگهداری </li>
                                    </ul>
                                </div><!--end col-->
                            </div><!--end row-->

                            <div class="mt-4">
                                <a class="btn btn-gold" href="javascript:void(0)">ادامه مطلب <i class="uil uil-arrow-left align-middle"></i></a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
<div class="fasele60"></div>
<div class="d-flex justify-content-center"><img src="{% static 'img/divider.png' %}" class="img-fix mb-4" alt=""></div>
        <p class="text-center text-gold fs-3 text-recent">
                خدمات ما
            </p>
        </div>
<div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="card border-0 p-4 text-center rounded features features-classic text-gold">
                            <i class="uil uil-circle-layer icon h1"></i>

                            <div class="content">
                                <a class="title text-light h5" href="page-single-service.html">طراحی کاملاً پیکسلی</a>

                                <p class="text-asli mb-0 mt-3">این امر مانع از تکرار الگوهای مختلف می شود و مقایسه حروف مختلف را تسهیل می کند.</p>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 mt-4 pt-4 mt-sm-0 pt-sm-0">
                        <div class="card border-0 p-4 text-center rounded features features-classic text-gold">
                            <i class="uil uil-window-grid icon h1"></i>

                            <div class="content">
                                <a class="title text-light h5" href="page-single-service.html">چیدمان نامحدود</a>

                                <p class="text-asli mb-0 mt-3">این امر مانع از تکرار الگوهای مختلف می شود و مقایسه حروف مختلف را تسهیل می کند.</p>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 mt-4 pt-4 mt-lg-0 pt-lg-0">
                        <div class="card border-0 p-4 text-center rounded features features-classic text-gold">
                            <i class="uil uil-shopping-cart icon h1"></i>

                            <div class="content">
                                <a class="title text-light h5" href="page-single-service.html">خرید آنلاین</a>

                                <p class="text-asli mb-0 mt-3">این امر مانع از تکرار الگوهای مختلف می شود و مقایسه حروف مختلف را تسهیل می کند.</p>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 mt-4 pt-4">
                        <div class="card border-0 p-4 text-center rounded features features-classic text-gold">
                            <i class="uil uil-award-alt icon h1"></i>

                            <div class="content">
                                <a class="title text-light h5" href="page-single-service.html">ساده و امن</a>

                                <p class="text-asli mb-0 mt-3">این امر مانع از تکرار الگوهای مختلف می شود و مقایسه حروف مختلف را تسهیل می کند.</p>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 mt-4 pt-4">
                        <div class="card border-0 p-4 text-center rounded features features-classic text-gold">
                            <i class="uil uil-thumbs-up icon h1"></i>

                            <div class="content">
                                <a class="title text-light h5" href="page-single-service.html">بروزرسانی های خودکار</a>

                                <p class="text-asli mb-0 mt-3">این امر مانع از تکرار الگوهای مختلف می شود و مقایسه حروف مختلف را تسهیل می کند.</p>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 mt-4 pt-4">
                        <div class="card border-0 p-4 text-center rounded features features-classic text-gold">
                            <i class="uil uil-circuit icon h1"></i>

                            <div class="content">
                                <a class="title text-light h5" href="page-single-service.html">بدون علم موشک</a>

                                <p class="text-asli mb-0 mt-3">این امر مانع از تکرار الگوهای مختلف می شود و مقایسه حروف مختلف را تسهیل می کند.</p>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
<div class="fasele60"></div>
    <div class="container">
        <div class="d-flex flex-column align-content-center justify-content-center">
        <div class="d-flex justify-content-center"><img src="{% static 'img/divider4.png' %}" class="img-fix mb-4" alt=""></div>
        <p class="text-center text-gold fs-3 text-recent">
                نمونه کار های اخیر آی تی پارسیان
            </p>
        </div>
    </div>
    <div class="fasele"></div>
    <div dir="ltr">
        <div class="container">
            <div class="row">

                {% for item in object.project %}
                    <div class="col-12 col-md-6">
                        <div class="recent-projects-boxes">
                            <div class="rp-item">
                                <div class="rp-images-container">
                                    <div class="rp-main-image-block">
                                        <div class="rp-main-image-container">
                                            <div class="rp-main-perspective-image"></div>
                                            <div class="rp-main-image-wrapper">
                                                <div class="rp-image">

                                                    <img src="{{ item.mainimg.url }}" alt="" class="imagemain">
                                                    <img src="{{ item.mainimg.url }}" alt="" class="imagemain">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rp-perspective-wrap">


                                        <img class="rp-image-perspective " width="299" height="566"
                                             src="{{ item.respornsive.url }}" alt="">
                                        <img class="lazyload rp-image-perspective " width="299" height="566"
                                             src="{{ item.respornsive.url }}" alt="">

                                    </div>
                                </div>
                                <div class="rp-item-container">
                                    <div class="rp-description">
                                        <div class="rp-top">
                                            <div class="rp-logo">

                                                <img class="lazyload logorecent" width="60" height="60"
                                                     src="{{ item.logo.url }}" data-src="{{ item.logo.url }}" alt="">
                                            </div>
                                            <p class="rp-item-title text-asli"> {{ item.discription1 }} </p>
                                            <!-- <a href="{{item.link}}" target="_blank" class="rp-link-sm"><span class="arrow-link">Launch the site
                  </span></a> -->
                                        </div>
                                        <div class="rp-text ">
                                            <p class="text-asli fs-5 launchlink"> {{ item.discription2 }} </p>
                                            <p>
                                                <a href="{{ item.link }}" target="_blank" class="rp-link">
                                            <p class="arrow-link "> Launch the site </p>
                                            </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                {% endfor %}
            </div>
        </div>
    </div>
    <div class="fasele60"></div>


    <div class="fasele60"></div>
<div class="container">
    <div class="row">
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <p class="h3 text-gold">فعالیت ما به منطقه محدود نیست</p>
        <p class="h6 text-asli">مهم نیست کسب کار شما در کدام شهر یا کشور فعالیت میکند </p>
        <p class="h6 text-asli">حتی میتونید به هر زبانی که خواستید وبسایت یا اپلیکیشن داشته باشید</p>
        <p class="h6 text-asli mb-5">کافیست به ما اعتماد کنید و راه اندازی کسب و کار اینترنتی خود را به ما بسپارید</p>
    </div>
    <div class="d-none d-md-block col-md-6">
        <div class='rotate-earth'>
        <img id="earth" src="{% static 'img/earth.png' %}">
    <img src="{% static 'img/rocket.png' %}" alt="" id='rocket'>
    </div>

</div>
        <div class="d-flex d-md-none justify-content-center">
        <img id="earth-mobile" src="{% static 'img/earth.png' %}">
    </div>
</div>
</div>

<div class="fasele120"></div>

{#steps on desktop #}

{#technolegys             #}
    <div class="container">
    <p class="h3 text-gold mb-5"> تکنولوژی ها </p>
    <div class="">
        <div class="row d-flex justify-content-between flex-wrap">
            <div class="col-4 col-md-1 png-tech d-flex flex-column align-items-center">
            <img src="{% static 'img/main-technolegy/6.png' %}" class="png-items" height="50px" width="50px" alt="">
            <p class="text-asli h6 mt-3">Python</p>
        </div>
            <div class="col-4 col-md-1 png-tech d-flex flex-column align-items-center">
            <img src="{% static 'img/main-technolegy/2.png' %}" class="png-items" height="50px" width="50px" alt="">
            <p class="text-asli h6 mt-3">Django</p>
        </div>

            <div class="col-4 col-md-1 png-tech d-flex flex-column align-items-center">
            <img src="{% static 'img/main-technolegy/dart.png' %}" class="png-items" height="50px" width="50px" alt="">
            <p class="text-asli h6 mt-3">Dart</p>
        </div>
            <div class="col-4 col-md-1 png-tech d-flex flex-column align-items-center">
            <img src="{% static 'img/main-technolegy/flutter.png' %}" class="png-items" height="50px" width="50px" alt="">
            <p class="text-asli h6 mt-3">Flutter</p>
        </div>
            <div class="col-4 col-md-1 png-tech d-flex flex-column align-items-center">
            <img src="{% static 'img/main-technolegy/4.png' %}" class="png-items" height="50px" width="50px" alt="">
            <p class="text-asli h6 mt-3">JavaScript</p>
        </div>
            <div class="col-4 col-md-1 png-tech d-flex flex-column align-items-center">
            <img src="{% static 'img/main-technolegy/5.png' %}" class="png-items" height="50px" width="50px" alt="">
            <p class="text-asli h6 mt-3">JQuery</p>
        </div>
            <div class="col-4 col-md-1 png-tech d-flex flex-column align-items-center">
            <img src="{% static 'img/main-technolegy/1.png' %}" class="png-items" height="50px" width="50px" alt="">
                <p class="text-asli h6 mt-3">bootstrap</p>
        </div>

        <div class="col-4 col-md-1 png-tech d-flex flex-column align-items-center">
            <img src="{% static 'img/main-technolegy/3.png' %}" class="png-items" height="50px" width="50px" alt="">
            <p class="text-asli h6 mt-3">HTML5</p>
        </div>



        <div class="col-4 col-md-1 png-tech d-flex flex-column align-items-center">
            <img src="{% static 'img/main-technolegy/7.png' %}" class="png-items" height="50px" width="50px" alt="">
            <p class="text-asli h6 mt-3">CSS3</p>
        </div>
        </div>
    </div>
    </div>
        <!-- image slider js  -->
        <div class="fasele180"></div>


        <!-- end image slider  -->




    </div>


    {#    acardion faq #}
    <div class="container">
        <div class="mt-5 ">
            <p class="h3 text-asli d-flex align-items-start"><i class=" bi bi-exclamation-circle text-blg mx-2"> </i>
                سوالات متداول </p>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="item">
                <div class="item-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link text-start collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <span class="text-asli">برای شروع کسب و کار اینترنتی خودم به چی نیاز دارم؟</span>
                            <i class="angle-down text-blg bi bi-chevron-down float-end"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="t-p">
                        <p class="text-asli text-justify ">هدف هرکسی از داشتن یک وب سایت و یا اپلیکیشن موبایل متفاوت است
                            و به نوع کسب و کار مربوط می شود. اما نکته ای که وجود دارد این است که هیچ نوع محدودیتی برای
                            ورود کسب و کار خود به دنیای آنلاین وجود ندارد؛ با جمع آوری اطلاعات مورد نیاز از کسب و کار
                            خود می توان مناسب ترین استراتژی را انتخاب نموده و از راه های ارتباطی اینترنتی، مشتریان را
                            جذب نمایید. کافیست با مشاوره رایگان از متخصصان آی تی پارسیان، کسب و کار خود را معرفی کنید و
                            مسیر ورود به دنیای بازاریابی دیجیتالی را به صورت هدفمند دنبال کنید</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link text-start collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="text-asli"> آی تی پارسیان چه خدمات ارائه می دهد؟</span>
                            <i class="angle-down text-blg bi bi-chevron-down float-end"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="t-p">
                        <p class="text-asli text-justify ">خدمات مجموعه آی تی پارسیان شامل موارد زیر به صورت کلی می شود:
                            <br>
                            طراحی انواع وب سایت
                            <br>

                            طراحی اپلیکیشن موبایل
                            <br>
                            دیجیتال مارکتینگ
                            <br>
                            سئو وب سایت
                            <br>
                            راه اندازی استارتاپ
                            <br>
                            برندینگ
                            <br>
                            طراحی گرافیکی
                            <br>
                            تولید محتوا

                        </p>

                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link text-start collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <span class="text-asli"> طراحی وب سایت در مجموع چه مراحلی دارد؟</span>
                            <i class="angle-down text-blg bi bi-chevron-down float-end"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                     data-bs-parent="#accordionExample">
                    <div class="t-p">
                        <p class="text-asli text-justify ">در قدم اول می بایست نوع کسب و کار شما و نیازهای موجود بررسی
                            شود و متناسب با آن وب سایت و امکانات آن در قالب یک پایگاه داده دسته بندی می شوند؛ حال متناسب
                            با نوع کسب و کار شما مراحل طراحی سایت شامل طراحی ظاهر گرافیکی و تجربه کاربری، برنامه نویسی و
                            طراحی سایت انجام می شود، الزامیست تمامی مراحل به تائید کارفرما خواهند رسید و کارفرما مرحله
                            به مرحله ناظر بر روند پیشرفت پروژه اش خواهد بود در انتها وب سایت تحویل داده شده و وارد مرحله
                            آموزش و پشتیبانی خواهیم شد</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link text-start collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <span class="text-asli"> مدت زمان طراحی وب سایت و یا اپلیکیشن موبایل به چه صورت خواهد بود؟</span>
                            <i class="angle-down text-blg bi bi-chevron-down float-end"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                     data-bs-parent="#accordionExample">
                    <div class="t-p">
                        <p class="text-asli text-justify ">مدت زمان انجام یک پروژه کاملا بستگی به نوع کسب وکار و گستردگی
                            و امکانات آن پروژه متفاوت خواهد بود اما به طور کلی مدت زمان انجام یک پروژه استاندارد بین ۱
                            تا ۴ ماه متفاوت خواهد بود.</p>

                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link text-start collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <span class="text-asli">قیمت طراحی وب سایت به چه صورت خواهد بود؟</span>
                            <i class="angle-down text-blg bi bi-chevron-down float-end"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                     data-bs-parent="#accordionExample">
                    <div class="t-p">
                        <p class="text-asli text-justify ">طراحی وب سایت یک پروژه کاملا شخصی سازی شده و منحصر به شماست؛
                            هزینه طراحی وب سایت به عواملی از جمله نوع وب سایت، امکانات و ویژگی های استفاده شده در وب
                            سایت و در مجموع نیاز های شما متفاوت خواهد بود و قیمت مشخصی برای آن وجود ندارد؛ با این حال
                            متخصصان آی تی پارسیان آماده شنیدن کسب و کار شما و نیاز های متناظر آن می باشند تا با بررسی
                            دقیق تر برآورد قیمت متناسبی را به شما ارائه دهند.</p>

                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-header" id="headingsix">
                    <h2 class="mb-0">
                        <button class="btn btn-link text-start collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                            <span class="text-asli"> آی تی پارسیان برای طراحی وب سایت و اپلیکیشن موبایل شما از چه تیم هایی استفاده می نماید؟</span>
                            <i class="angle-down text-blg bi bi-chevron-down float-end"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-bs-parent="#accordionExample">
                    <div class="t-p">
                        <p class="text-asli text-justify ">تلاش ما در مجموعه آی تی پارسیان استفاده ازتخصص نیروهایی با
                            تجربه در کنار پتانسیل، خلاقیت و انگیزه نیروهای جوان بوده؛ مجموعه آی تی پارسیان شامل بخش های
                            مختلفی از جمله موارد ذیل می باشد:
                            <br>
                            تیم طراحی ui و ux
                            <br>
                            تیم طراحی رابط کاربری وب سایت (front-end)
                            <br>
                            تیم برنامه نویسی وب سایت(back-end)
                            <br>
                            تیم برنامه نویسی اپلیکیشن موبایل
                            <br>
                            تیم تخصصی خدمات سئو سایت
                            <br>
                            تیم طراحی گرافیکی
                            <br>
                            تیم تولید محتوا
                            <br>
                            تیم مدیریت شبکه های اجتماعی</p>

                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-header" id="headingseven">
                    <h2 class="mb-0">
                        <button class="btn btn-link text-start collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                            <span class="text-asli"> پشتیبانی خدمات در آی تی پارسیان به چه صورت خواهد بود؟</span>
                            <i class="angle-down text-blg bi bi-chevron-down float-end"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapseseven" class="collapse" aria-labelledby="headingseven"
                     data-bs-parent="#accordionExample">
                    <div class="t-p">
                        <p class="text-asli text-justify ">نکته ای که کاملا ذهن مشتریان ما را درگیر خود کرده پشتیبانی
                            خدمات می باشد؛ اولین مرحله پس از اتمام مراحل پروژه، آموزش می باشد که شامل مواردی از جمله
                            آموزش کار با پنل مدیریت محتوا، آموزش اشتراک گذاری مقالات در وبلاگ سایت و... می شود؛ همچنین
                            خدمات پشتیبانی فنی پروژه توسط مجوعه آی تی پارسیان در اختیار شما قرار خواهد گرفت</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}